**/data/raw/*
!**/data/raw/.gitkeep
**/data/processed/*
!**/data/processed/.gitkeep
**/data/tiles/*
**/plots/*
!**/plots/.gitkeep
**/.ipynb_checkpoints/*
.Rhistory
.Rproj.user
*.Rproj
*.history
.DS_Store
